<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>輸入錯誤資料</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1>失敗頁面</h1>
    <div class="content">
        <h2>{{ errorMessages }}</h2>
        <a href="/">返回首頁</a>
    </div>
</body>

</html>